@import url('./__close-btn/popup__close-btn.css');
@import url('./__container/popup__container.css');
@import url('./__box/popup__box.css');
@import url('./__heading/popup__heading.css');
@import url('./__input/popup__input.css');
@import url('./__input/_field_name/popup__input_field_name.css');
@import url('./__input/_field_position/popup__field_field_position.css');
@import url('./__save-btn/popup__save-btn.css');

.popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
  display: none;
  justify-content: center;
  align-items : center;
}
