@import url('./__button/popup__button.css');
@import url('./__button/_type/popup__button_type_close.css');
@import url('./__button/_type/popup__button_type_submit.css');
@import url('./__button/_inactive/popup__button_inactive.css');
@import url('./__container/popup__container.css');
@import url('./__container/_size/popup__container_size_small.css');
@import url('./__container/_size/popup__container_size_large.css');
@import url('./__box/popup__box.css');
@import url('./__heading/popup__heading.css');
@import url('./__field/popup__field.css');
@import url('./__input/popup__input.css');
@import url('./__input-error/popup__input-error.css');
@import url('./__input-error/_visible/popup__input-error_visible.css');
@import url('./__input/_field/popup__input_field_first.css');
@import url('./__input/_field/popup__input_field_second.css');
@import url('./__input/_type/popup__input_type_error.css');
@import url('./__image/popup__image.css');
@import url('./__image-caption/popup__image-caption.css');

.popup {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
  justify-content: center;
  align-items : center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s linear;
  cursor: pointer;
}
