.profile__upgrade-avatar-icon {
  display: block;
  visibility: hidden;
  background: url("../../../images/pencil-icon.svg") center/26px no-repeat rgba(0, 0, 0, 0.8);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  opacity: 0;
}

.profile__avatar-container:hover .profile__upgrade-avatar-icon{
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s linear;
}
