.place__like {
  min-width: 29px;
  height: 29px;
  padding: 5px 4px;
  background: url('../../../images/like.svg') center/21px 19px no-repeat;
  box-sizing: border-box;
  border: none;
  box-shadow: none;
  outline: none;
  cursor: pointer;
}

.place__like:hover {
  opacity: .5;
  transition: opacity .3s ease-out;
}
