/* * {
  outline-width: 1px;
  outline-style: solid;
  outline-color: red;
} */

.page {
  box-sizing: border-box;
  background-color: #000;
  min-width: 320px;
  max-width: 920px;
  color: #fff;
  font-weight: 400;
  margin: 0 auto;
  padding: 0 19px;
  font-family: 'Inter', Arial, sans-serif;
}
