@import url('__remove/place__remove.css');
@import url('__image/place__image.css');
@import url('__container/place__container.css');
@import url('__title/place__title.css');
@import url('__like-container/place__like-container.css');
@import url('__like/place__like.css');
@import url('__like-counter/place__like-counter.css');
@import url('__like/_active/place__like_active.css');

.place {
  width: 100%;
  max-width: 100%;
  margin: 0;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
