@import url('./__image/profile__image.css');
@import url('./__name-container/profile__name-container.css');
@import url('./__name/profile__name.css');
@import url('./__button/profile__button.css');
@import url('./__button/_type/profile__button_type_edit.css');
@import url('./__button/_type/profile__button_type_add.css');
@import url('./__position/profile__position.css');

.profile {
  padding: 40px 0 0;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 120px 1fr 150px;
  grid-template-areas:
  'image name add'
  'image position add';
  column-gap: 30px;
}

@media screen and (max-width: 720px) {
  .profile {
    padding: 42px 0 0;
    grid-template-columns: 1fr;
    grid-template-areas:
    'image'
    'name'
    'position'
    'add';
    justify-items: center;
  }
}
