.popup__save-btn {
  width: 100%;
  min-height: 50px;
  padding: 0;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  background-color: #000;
  box-shadow: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.popup__save-btn:hover {
  opacity: .8;
  transition: opacity .3s ease-out;
}
