.popup__close-btn {
  position: absolute;
  max-width: 41px;
  width: 100%;
  min-height: 41px;
  top: -38px;
  right: -38px;
  background: url('../../../images/close-icon.svg') center;
  border: none;
  box-shadow: none;
  outline: none;
}

@media screen and (max-width: 720px) {
  .popup__close-btn {
    max-width: 29px;
    min-height: 29px;
    top: 5px;
    right: 5px;
    background: url('../../../images/close-icon-black.svg') center/cover;
  }
}
