.place__like {
  min-width: 20px;
  height: 20px;
  padding: 1px 0;
  background: url('../../../images/like.svg') center/20px 18px no-repeat;
  box-sizing: border-box;
  border: none;
  box-shadow: none;
  outline: none;
  cursor: pointer;
}

.place__like:hover {
  opacity: .5;
  transition: opacity .3s ease-out;
}
