@import url('./__image/place__image.css');
@import url('./__container/place__container.css');
@import url('./__title/place__title.css');
@import url('./__button/place__button.css');

.place {
  width: 100%;
  max-width: 100%;
  margin: 0;
  border-radius: 10px;
  overflow: hidden;
}
