.profile__position {
  grid-area: position;
  margin: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  word-break: break-word;
}

@media screen and (max-width: 720px) {
  .profile__position {
    margin: 0 0 29px;
  }
}

@media screen and (max-width: 440px) {
  .profile__position {
    font-size: 14px;
    line-height: 17px;
  }
}
